*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#calculate{
    background: hsl(0, 0%, 20%);
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    max-width: 500px;
}

#display{
    width: 100%;
    padding: 20px;
    border: none;
    font-size: 5rem;
    text-align: left;
    background: hsl(0, 0%, 40%);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: 700;
}

button:hover{
  background: hsl(0, 0%, 40%); ;
}

button:active{
    background: hsl(0, 0%, 50%);
}

.operation-color{
    background: hsl(30, 100%, 50%);
}

.operation-color:hover{
    background: hsl(30, 100%, 60%);
}

.operation-color:active{
    background: hsl(30, 100%, 70%);
}